boto3==1.26.*
botocore==1.29.*
canvasapi==3.0.0
Flask==2.2.*
Flask-SQLAlchemy==3.0.*
Flask-DebugToolbar==0.13.*
Flask-Caching==2.0.1
Flask-Migrate==2.6.0
git+https://github.com/ucfopen/pylti1.3.git@master#egg=PyLTI1p3
cryptography==39.0.2
mysqlclient==2.1.1
pycryptodome
