{% extends "base.htm.j2" %}

{% block content %}

<div class="control-container">
        <h2>Welcome to the Flask LTI 1.3 Simple Example Template.</h2>
</div>


    <p>
        You are now logged in, and the system is ready for you {{email}}
    </p>


{% endblock %}
